<!DOCTYPE html>
<html>

	<head>
		<meta charset="UTF-8">
		<title>Cressman插值</title>
		<link rel="stylesheet" href="../css/map.css" />
		<link rel="stylesheet" href="https://js.arcgis.com/3.27/esri/css/esri.css">
		<script src="https://js.arcgis.com/3.27/"></script>
		<script src="../util/tdtlayers.js"></script>
	</head>

	<body>
		<div id="map"></div>
		<script>
			require(["esri/map", "esri/layers/GraphicsLayer", "esri/symbols/SimpleMarkerSymbol", "esri/symbols/SimpleFillSymbol", "esri/symbols/SimpleLineSymbol", "esri/Color", "dojo/domReady!"], function(Map, GraphicsLayer, SimpleMarkerSymbol, SimpleFillSymbol, SimpleLineSymbol, Color) {
				var map = new Map("map", {
					logo: false,
					nav: false,
					slider: false,
					center: [175.475, -37.87],
					zoom: 12
				});
				defineClassesBeforInitMap();
				var roadlayer = new TDTRoadLayer();
				var annolayer = new TDTAnnoLayer();
				map.addLayer(roadlayer);
				map.addLayer(annolayer);

				var shadelayer = new GraphicsLayer();
				map.addLayer(shadelayer);

				var pointlayer = new GraphicsLayer();
				map.addLayer(pointlayer);

				var sData = [];
				for(var i = 0; i < idwdatas.length; i++) {
					sData[i] = [];
					sData[i].push(idwdatas[i][1])
					sData[i].push(idwdatas[i][0])
					sData[i].push(idwdatas[i][2])
				}
				var minx = 175.3657417333;
				var miny = -37.9321212167;
				var XData = [];
				var YData = [];
				for(var i = 0; i < 100; i++) {
					XData.push(minx + 0.0011501619999998525 * i);
					YData.push(miny + 0.00048221216700000014 * i);
				}
				var radData = [10,8,6,4];

				var result = cressman(sData, XData, YData, 0, radData);

				render(result, shadelayer);

				function render(idwresult, resultlayer) {
					var graphics = [];
					for(var i = 0; i < idwresult.length; i++) {
						for(var j = 0; j < idwresult[i].length; j++) {

							var geometry = new esri.geometry.Polygon([
								[minx + i * 0.0011501619999998525, miny + j * 0.00048221216700000014],
								[minx + (i+1) * 0.0011501619999998525, miny + j * 0.00048221216700000014],
								[minx + (i+1) * 0.0011501619999998525, miny + (j+1) * 0.00048221216700000014],
								[minx + i * 0.0011501619999998525, miny + (j+1) * 0.00048221216700000014]
							]);
							var color = null;

							if(idwresult[j][i] < 100) {
								color = [155, 255, 252, 1];
							} else if(idwresult[j][i] >= 100 && idwresult[j][i] < 200) {
								color = [0, 207, 254, 1];
							} else if(idwresult[j][i] >= 300 && idwresult[j][i] < 400) {
								color = [0, 156, 255, 1];
							} else if(idwresult[j][i] >= 400 && idwresult[j][i] < 500) {
								color = [6, 100, 255, 1];
							} else if(idwresult[j][i] >= 500 && idwresult[j][i] < 600) {
								color = [38, 159, 0, 1];
							} else if(idwresult[j][i] >= 600 && idwresult[j][i] < 700) {
								color = [36, 255, 0, 1];
							} else if(idwresult[j][i] >= 700 && idwresult[j][i] < 800) {
								color = [247, 255, 0, 1];
							} else if(idwresult[j][i] >= 800 && idwresult[j][i] < 900) {
								color = [253, 203, 10, 1];
							} else if(idwresult[j][i] >= 900 && idwresult[j][i] < 1000) {
								color = [243, 160, 6, 1];
							} else if(idwresult[j][i] >= 1000 && idwresult[j][i] < 1100) {
								color = [254, 1, 0, 1];
							} else if(idwresult[j][i] >= 1100 && idwresult[j][i] < 1200) {
								color = [203, 0, 10, 1];
							} else if(idwresult[j][i] >= 1200 && idwresult[j][i] < 1300) {
								color = [162, 0, 1, 1];
							} else if(idwresult[j][i] >= 1300 && idwresult[j][i] < 1400) {
								color = [150, 5, 170, 1];
							} else if(idwresult[j][i] >= 1400 && idwresult[j][i] < 1500) {
								color = [204, 3, 223, 1];
							} else if(idwresult[j][i] >= 1500) {
								color = [243, 0, 248, 1];
							}
							var symbol = new SimpleFillSymbol(SimpleFillSymbol.STYLE_SOLID,
								new SimpleLineSymbol(SimpleLineSymbol.STYLE_SOLID,
									new Color([255, 255, 255, 0.000001]), 1), new Color(color)
							);
							var graphic = new esri.Graphic(geometry, symbol);
							resultlayer.add(graphic);
						}
					}
				}

				for(var i = 0; i < idwdatas.length; i++) {
					var point = new esri.geometry.Point(idwdatas[i][1], idwdatas[i][0]);
					var symbol = new SimpleMarkerSymbol(SimpleMarkerSymbol.STYLE_SQUARE, 2,
						new SimpleLineSymbol(SimpleLineSymbol.STYLE_SOLID,
							new Color([255, 0, 0]), 0.0001),
						new Color([0, 0, 0, 1]));
					var graphic = new esri.Graphic(point, symbol);
					pointlayer.add(graphic);
				}

			})
			var idwdatas = [
				[-37.8839, 175.3745188667, 571],
				[-37.8869090667, 175.3657417333, 486],
				[-37.8894207167, 175.4015351167, 807],
				[-37.8927369333, 175.4087452333, 899],
				[-37.90585105, 175.4453463833, 1273],
				[-37.9064188833, 175.4441556833, 1258],
				[-37.90584715, 175.4463564333, 1279],
				[-37.9033391333, 175.4244005667, 1078],
				[-37.9061991333, 175.4492620333, 1309],
				[-37.9058955167, 175.4445613167, 1261],
				[-37.88888045, 175.39146475, 734],
				[-37.8950811333, 175.41079175, 928],
				[-37.88909235, 175.3922956333, 740],
				[-37.8889259667, 175.3938591667, 759],
				[-37.8876576333, 175.3859563833, 687],
				[-37.89027155, 175.3973178833, 778],
				[-37.8864473667, 175.3806136833, 631],
				[-37.9000262833, 175.4183242167, 1012],
				[-37.90036495, 175.4189457, 1024],
				[-37.9000976833, 175.4197312167, 1027],
				[-37.90239975, 175.42371165, 1067],
				[-37.9043379667, 175.42430325, 1080],
				[-37.9026441, 175.4231055167, 1068],
				[-37.8883536333, 175.3888573833, 718],
				[-37.9029948833, 175.4237386167, 1070],
				[-37.89824135, 175.4150421667, 982],
				[-37.8976067833, 175.41510265, 983],
				[-37.9023491333, 175.4225495, 1066],
				[-37.8856157167, 175.3775632833, 608],
				[-37.8963032667, 175.4132068, 951],
				[-37.8922813667, 175.4073402333, 1 / 898],
				[-37.88933345, 175.3956084333, 769],
				[-37.8936148833, 175.4090577, 906],
				[-37.8939398, 175.4094444833, 914],
				[-37.8857355333, 175.3722297667, 542],
				[-37.8931092167, 175.4083014, 898],
				[-37.9008253167, 175.4198128, 1030],
				[-37.9045052333, 175.4260735, 1100],
				[-37.9053927167, 175.42822265, 1130],
				[-37.90507935, 175.4313065, 1147],
				[-37.9055749667, 175.4319092167, 1154],
				[-37.9039034833, 175.4274736667, 1105],
				[-37.9037633, 175.4261181833, 1093],
				[-37.9038755, 175.42871045, 1105],
				[-37.90369555, 175.4285285, 1105],
				[-37.9056626, 175.4341078833, 1170],
				[-37.9018736833, 175.438852, 1213],
				[-37.9057596167, 175.4356650167, 1180],
				[-37.9053502, 175.4361049333, 1185],
				[-37.9053379167, 175.4366986167, 1195],
				[-37.9058892333, 175.4381450333, 1204],
				[-37.9060264167, 175.4400763167, 1220],
				[-37.9056766833, 175.4412592, 1233],
				[-37.9057312167, 175.4418380333, 1235],
				[-37.9061575833, 175.4421068667, 1242],
				[-37.9063946167, 175.4438004667, 1256],
				[-37.8996027667, 175.43995055, 1215],
				[-37.9006449667, 175.4395556833, 1215],
				[-37.9009138167, 175.4394061333, 1215],
				[-37.9034547, 175.4396315, 1219],
				[-37.9055243, 175.4396033, 1221],
				[-37.89952325, 175.4406619167, 1215],
				[-37.90561525, 175.4404853167, 1225],
				[-37.9045602333, 175.4477690333, 1285],
				[-37.9040051667, 175.4388491833, 1213],
				[-37.90588145, 175.4440349167, 1257],
				[-37.90595915, 175.4389286833, 1212],
				[-37.9059939667, 175.4398068833, 1218],
				[-37.8868631833, 175.37991055, 630],
				[-37.8878744833, 175.382179, 650],
				[-37.8880764, 175.3839845667, 670],
				[-37.8850457333, 175.3759821, 594],
				[-37.88446045, 175.3762872667, 587],
				[-37.8880782667, 175.38423415, 670],
				[-37.8863533833, 175.3690698667, 515],
				[-37.8861783167, 175.3710009833, 530],
				[-37.885424, 175.3716677833, 541],
				[-37.88524065, 175.3722141167, 547],
				[-37.9022371333, 175.47991035, 10],
				[-37.9020014833, 175.4799581667, 1],
				[-37.9020824, 175.4802630167, 2],
				[-37.9018589833, 175.4804760833, 3],
				[-37.9018211333, 175.4806769667, 4],
				[-37.9021543667, 175.4805538833, 5],
				[-37.9022658, 175.4807579333, 6],
				[-37.9024517833, 175.4806480667, 7],
				[-37.9024251167, 175.48041985, 8],
				[-37.9023317833, 175.4802119667, 9],
				[-37.9321212167, 175.4555088, 39],
				[-37.8956185167, 175.4719458667, 4],
				[-37.8954566, 175.4728120333, 20],
				[-37.8957231833, 175.4727906, 22],
				[-37.8956085833, 175.4726702, 22],
				[-37.8956460167, 175.4718485167, 2]
			]

			function cressman(stData, X, Y, unDefData, radList) {
				var xNum = X.length;
				var yNum = Y.length;
				var pNum = stData.length;
				var gridData = [];
				for(var k = 0; k < yNum; k++) {
					gridData[k] = [];
				}
				var irad = radList.length;
				var i, j;

				var xMin = X[0];
				var xMax = X[X.length - 1];
				var yMin = Y[0];
				var yMax = Y[Y.length - 1];
				var xDelt = X[1] - X[0];
				var yDelt = Y[1] - Y[0];
				var x, y;
				var sum = 0,
					total = 0;
				var stNum = 0;
				var stationData = [];
				for(var k = 0; k < pNum; k++) {
					stationData[k] = [];
				}
				for(i = 0; i < pNum; i++) {
					x = stData[i][0];
					y = stData[i][1];
					stationData[i][0] = (x - xMin) / xDelt;
					stationData[i][1] = (y - yMin) / yDelt;
					stationData[i][2] = stData[i][2];
					if(stationData[i][2] != unDefData) {
						total += stationData[i][2];
						stNum += 1;
					}
				}
				total = total / stNum;

				var HITOP = -999900000000000000000.0;
				var HIBOT = 999900000000000000000.0;
				var TOP = [];
				for(var k = 0; k < yNum; k++) {
					TOP[k] = [];
				}
				var BOT = [];
				for(var k = 0; k < yNum; k++) {
					BOT[k] = [];
				}
				for(i = 0; i < yNum; i++) {
					for(j = 0; j < xNum; j++) {
						TOP[i][j] = HITOP;
						BOT[i][j] = HIBOT;
					}
				}
				var rad;
				if(radList.length > 0) {
					rad = radList[0];
				} else {
					rad = 4.0;
				}

				for(i = 0; i < yNum; i++) {
					y = i;
					yMin = y - rad;
					yMax = y + rad;
					for(j = 0; j < xNum; j++) {
						x = j;
						xMin = x - rad;
						xMax = x + rad;
						stNum = 0;
						sum = 0;
						for(var s = 0; s < pNum; s++) {
							var val = stationData[s][2];
							var sx = stationData[s][0];
							var sy = stationData[s][1];
							if(sx < 0 || sx >= xNum - 1 || sy < 0 || sy >= yNum - 1) {
								continue;
							}

							if(val == unDefData || sx < xMin || sx > xMax || sy < yMin || sy > yMax) {
								continue;
							}

							var dis = Math.sqrt(Math.pow(sx - x, 2) + Math.pow(sy - y, 2));
							if(dis > rad) {
								continue;
							}
							sum += val;
							stNum += 1;
							if(TOP[i][j] < val) {
								TOP[i][j] = val;
							}
							if(BOT[i][j] > val) {
								BOT[i][j] = val;
							}
						}
						if(stNum == 0) {
							gridData[i][j] = unDefData;
						} else {
							gridData[i][j] = sum / stNum;
						}
					}
				}
				for(var p = 0; p < irad; p++) {
					rad = radList[p];
					for(i = 0; i < yNum; i++) {
						y = i;
						yMin = y - rad;
						yMax = y + rad;
						for(j = 0; j < xNum; j++) {
							if(gridData[i][j] == unDefData) {
								continue;
							}

							x = j;
							xMin = x - rad;
							xMax = x + rad;
							sum = 0;
							var wSum = 0;
							for(var s = 0; s < pNum; s++) {
								var val = stationData[s][2];
								var sx = stationData[s][0];
								var sy = stationData[s][1];
								if(sx < 0 || sx >= xNum - 1 || sy < 0 || sy >= yNum - 1) {
									continue;
								}

								if(val == unDefData || sx < xMin || sx > xMax || sy < yMin || sy > yMax) {
									continue;
								}

								var dis = Math.sqrt(Math.pow(sx - x, 2) + Math.pow(sy - y, 2));
								if(dis > rad) {
									continue;
								}

								var i1 = parseInt(sy);
								var j1 = parseInt(sx);
								var i2 = i1 + 1;
								var j2 = j1 + 1;
								var a = gridData[i1][j1];
								var b = gridData[i1][j2];
								var c = gridData[i2][j1];
								var d = gridData[i2][j2];
								var dList = [];
								if(a != unDefData) {
									dList.push(a);
								}
								if(b != unDefData) {
									dList.push(b);
								}
								if(c != unDefData) {
									dList.push(c);
								}
								if(d != unDefData) {
									dList.push(d);
								}

								var calVal;
								if(dList.length == 0) {
									continue;
								} else if(dList.length == 1) {
									calVal = dList[0];
								} else if(dList.length <= 3) {
									var aSum = 0;
									for(var k = 0; k < dList.length; k++) {
										aSum += dList[k];
									}
									calVal = aSum / dList.length;
								} else {
									var x1val = a + (c - a) * (sy - i1);
									var x2val = b + (d - b) * (sy - i1);
									calVal = x1val + (x2val - x1val) * (sx - j1);
								}
								var eVal = val - calVal;
								var w = (rad * rad - dis * dis) / (rad * rad + dis * dis);
								sum += eVal * w;
								wSum += w;
							}
							if(wSum < 0.000001) {
								gridData[i][j] = unDefData;
							} else {
								var aData = gridData[i][j] + sum / wSum;
								gridData[i][j] = Math.max(BOT[i][j], Math.min(TOP[i][j], aData));

							}
						}
					}
				}
				console.log(gridData)
				return gridData;
			}
		</script>
	</body>

</html>