<!DOCTYPE html>
<html>

	<head>
		<meta charset="UTF-8">

		<title></title>
		<style>
			html,
			body,
			.app {
				width: 100%;
				height: 100%;
				background: orange;
			}
		</style>
	</head>

	<body>
		<div class="app"></div>
	</body>
	<script>
		//获取当前url中参数
		function getvl(name) {
			var reg = new RegExp("(^|\\?|&)" + name + "=([^&]*)(\\s|&|$)", "i");
			var url = encodeURI(parent.location.href); //location.href
			if(reg.test(url)) {
				var title = RegExp.$2; //RegExp.$2.replace(/\+/g, " ");
				var uriToStr = decodeURI(decodeURI(title));
				return uriToStr;
			}
			return "";
		}

		alert(getvl('name'))
	</script>

</html>