<!DOCTYPE html>
<html>

	<head>
		<meta charset="UTF-8">
		<title></title>
		<style>
			html,
			body {
				width: 100%;
				height: 100%;
				margin: 0;
				padding: 0;
			}
			/*#canvas {
				width: 1200px;
				height: 800px;
			}*/
		</style>
	</head>

	<body>

		<canvas id="canvas" width="900" height="600"></canvas>
	</body>
	<script>
		function loadImage(url) {
			return new Promise((resolve, reject) => {
				let img = new Image();
				img.setAttribute('crossOrigin', 'anonymous');
				img.onload = () => resolve(img);
				img.onerror = reject;
				img.src = url;
			})
		}

		loadImage('../img/turntable.png').then((img_1) => {

			loadImage('../img/circle.png').then((img_2) => {
				var canvas = document.getElementById('canvas');
				var context = canvas.getContext("2d");
				var i = 180;

				setInterval(function() {
					drawScreen(i)

					if(i == 0) {
						i = 180;
					}
					i--;
				}, 20);

				function drawScreen(index) {
					context.setTransform(1, 0, 0, 1, 0, 0);
					context.clearRect(-canvas.clientWidth / 2, -canvas.clientWidth / 2, canvas.clientWidth * 3, canvas.clientHeight * 3);
					var angleInRadians = 0 * Math.PI / 180;
					//绘制旋转轮盘
					context.translate(canvas.clientWidth / 2, canvas.clientHeight / 2 + 90);
					context.transform(1, 0, 0, 0.2, 0, 0); //变形
					context.rotate(angleInRadians); //旋转       
					context.drawImage(img_1, -420, -420, 840, 840);
					context.stroke();

					context.scale(0.55 + index / 500, 0.55 + index / 500);
					context.drawImage(img_2, -420, -420, 840, 840);
					context.stroke();
				}
			})

		}).catch((error) => {})
	</script>

</html>