<!DOCTYPE html>
<html>

	<head>
		<meta charset="UTF-8">
		<title></title>
		<style>
			* {
				padding: 0;
				margin: 0;
			}
			
			th {
				border: 1px solid #e6e6e6;
				line-height: 5vh;
				color: #666666;
				font-size: 16px;
				width: 340px;
			}
			
			table {
				border-collapse: collapse;
				width: 100%;
			}
			
			td {
				padding: 5px;
				border: 1px solid #e6e6e6;
				font-size: 14px;
				width: 340px;
			}
			
			.table-head {
				background-color: rgb(207, 231, 179);
				color: #000;
				height: 5vh;
			}
			
			.table-body {
				width: 100%;
				height: 94vh;
				overflow-y: scroll;
			}
			
			.table-head table,
			.table-body table {
				width: 100%;
			}
			
			.table-body table tr:nth-child(2n+1) {
				background-color: #f2f2f2;
			}
			
			.table-body table tr:hover {
				background-color: rgb(240, 249, 228);
				transition: .2s;
			}
		</style>
	</head>

	<body>
		<div class="wrapbox">
			<div class="table-head">
				<table>
					<thead>
						<th>合同号</th>
						<th>签约客户</th>
						<th>发布客户</th>
						<th>合同状态</th>
						<th>选定条件的发布周期额度</th>
					</thead>
				</table>
			</div>
			<div class="table-body">
				<table>
					<tbody id="tbody">
						<tr>
							<td>合同号</td>
							<td>合同号</td>
							<td>合同号</td>
							<td>合同号</td>
							<td>合同号</td>
						</tr>
						<tr>
							<td>合同号</td>
							<td>合同号</td>
							<td>合同号</td>
							<td>合同号</td>
							<td>合同号</td>
						</tr>
						<tr>
							<td>合同号</td>
							<td>合同号</td>
							<td>合同号</td>
							<td>合同号</td>
							<td>合同号</td>
						</tr>
						<tr>
							<td>合同号</td>
							<td>合同号</td>
							<td>合同号</td>
							<td>合同号</td>
							<td>合同号</td>
						</tr>
						<tr>
							<td>合同号</td>
							<td>合同号</td>
							<td>合同号</td>
							<td>合同号</td>
							<td>合同号</td>
						</tr>
						<tr>
							<td>合同号</td>
							<td>合同号</td>
							<td>合同号</td>
							<td>合同号</td>
							<td>合同号</td>
						</tr>
						<tr>
							<td>合同号</td>
							<td>合同号</td>
							<td>合同号</td>
							<td>合同号</td>
							<td>合同号</td>
						</tr>
						<tr>
							<td>合同号</td>
							<td>合同号</td>
							<td>合同号</td>
							<td>合同号</td>
							<td>合同号</td>
						</tr>
						<tr>
							<td>合同号</td>
							<td>合同号</td>
							<td>合同号</td>
							<td>合同号</td>
							<td>合同号</td>
						</tr>
						<tr>
							<td>合同号</td>
							<td>合同号</td>
							<td>合同号</td>
							<td>合同号</td>
							<td>合同号</td>
						</tr>

						<tr>
							<td>合同号</td>
							<td>合同号</td>
							<td>合同号</td>
							<td>合同号</td>
							<td>合同号</td>
						</tr>
						<tr>
							<td>合同号</td>
							<td>合同号</td>
							<td>合同号</td>
							<td>合同号</td>
							<td>合同号</td>
						</tr>
						<tr>
							<td>合同号</td>
							<td>合同号</td>
							<td>合同号</td>
							<td>合同号</td>
							<td>合同号</td>
						</tr>
						<tr>
							<td>合同号</td>
							<td>合同号</td>
							<td>合同号</td>
							<td>合同号</td>
							<td>合同号</td>
						</tr>
						<tr>
							<td>合同号</td>
							<td>合同号</td>
							<td>合同号</td>
							<td>合同号</td>
							<td>合同号</td>
						</tr>
						<tr>
							<td>合同号</td>
							<td>合同号</td>
							<td>合同号</td>
							<td>合同号</td>
							<td>合同号</td>
						</tr>
						<tr>
							<td>合同号</td>
							<td>合同号</td>
							<td>合同号</td>
							<td>合同号</td>
							<td>合同号</td>
						</tr>
						<tr>
							<td>合同号</td>
							<td>合同号</td>
							<td>合同号</td>
							<td>合同号</td>
							<td>合同号</td>
						</tr>
						<tr>
							<td>合同号</td>
							<td>合同号</td>
							<td>合同号</td>
							<td>合同号</td>
							<td>合同号</td>
						</tr>
						<tr>
							<td>合同号</td>
							<td>合同号</td>
							<td>合同号</td>
							<td>合同号</td>
							<td>合同号</td>
						</tr>
						<tr>
							<td>合同号</td>
							<td>合同号</td>
							<td>合同号</td>
							<td>合同号</td>
							<td>合同号</td>
						</tr>
						<tr>
							<td>合同号</td>
							<td>合同号</td>
							<td>合同号</td>
							<td>合同号</td>
							<td>合同号</td>
						</tr>
						<tr>
							<td>合同号</td>
							<td>合同号</td>
							<td>合同号</td>
							<td>合同号</td>
							<td>合同号</td>
						</tr>
						<tr>
							<td>合同号</td>
							<td>合同号</td>
							<td>合同号</td>
							<td>合同号</td>
							<td>合同号</td>
						</tr>
						<tr>
							<td>合同号</td>
							<td>合同号</td>
							<td>合同号</td>
							<td>合同号</td>
							<td>合同号</td>
						</tr>
						<tr>
							<td>合同号</td>
							<td>合同号</td>
							<td>合同号</td>
							<td>合同号</td>
							<td>合同号</td>
						</tr>
						<tr>
							<td>合同号</td>
							<td>合同号</td>
							<td>合同号</td>
							<td>合同号</td>
							<td>合同号</td>
						</tr>
						<tr>
							<td>合同号</td>
							<td>合同号</td>
							<td>合同号</td>
							<td>合同号</td>
							<td>合同号</td>
						</tr>
						<tr>
							<td>合同号</td>
							<td>合同号</td>
							<td>合同号</td>
							<td>合同号</td>
							<td>合同号</td>
						</tr>
						<tr>
							<td>合同号</td>
							<td>合同号</td>
							<td>合同号</td>
							<td>合同号</td>
							<td>合同号</td>
						</tr>
						<tr>
							<td>合同号</td>
							<td>合同号</td>
							<td>合同号</td>
							<td>合同号</td>
							<td>合同号</td>
						</tr>
						<tr>
							<td>合同号</td>
							<td>合同号</td>
							<td>合同号</td>
							<td>合同号</td>
							<td>合同号</td>
						</tr>
						<tr>
							<td>合同号</td>
							<td>合同号</td>
							<td>合同号</td>
							<td>合同号</td>
							<td>合同号</td>
						</tr>
						<tr>
							<td>合同号</td>
							<td>合同号</td>
							<td>合同号</td>
							<td>合同号</td>
							<td>合同号</td>
						</tr>
						<tr>
							<td>合同号</td>
							<td>合同号</td>
							<td>合同号</td>
							<td>合同号</td>
							<td>合同号</td>
						</tr>
						<tr>
							<td>合同号</td>
							<td>合同号</td>
							<td>合同号</td>
							<td>合同号</td>
							<td>合同号</td>
						</tr>
						<tr>
							<td>合同号</td>
							<td>合同号</td>
							<td>合同号</td>
							<td>合同号</td>
							<td>合同号</td>
						</tr>
						<tr>
							<td>合同号</td>
							<td>合同号</td>
							<td>合同号</td>
							<td>合同号</td>
							<td>合同号</td>
						</tr>
						<tr>
							<td>合同号</td>
							<td>合同号</td>
							<td>合同号</td>
							<td>合同号</td>
							<td>合同号</td>
						</tr>
						<tr>
							<td>合同号</td>
							<td>合同号</td>
							<td>合同号</td>
							<td>合同号</td>
							<td>合同号</td>
						</tr>
						<tr>
							<td>合同号</td>
							<td>合同号</td>
							<td>合同号</td>
							<td>合同号</td>
							<td>合同号</td>
						</tr>
						<tr>
							<td>合同号</td>
							<td>合同号</td>
							<td>合同号</td>
							<td>合同号</td>
							<td>合同号</td>
						</tr>
						<tr>
							<td>合同号</td>
							<td>合同号</td>
							<td>合同号</td>
							<td>合同号</td>
							<td>合同号</td>
						</tr>
						<tr>
							<td>合同号</td>
							<td>合同号</td>
							<td>合同号</td>
							<td>合同号</td>
							<td>合同号</td>
						</tr>
						<tr>
							<td>合同号</td>
							<td>合同号</td>
							<td>合同号</td>
							<td>合同号</td>
							<td>合同号</td>
						</tr>
						<tr>
							<td>合同号</td>
							<td>合同号</td>
							<td>合同号</td>
							<td>合同号</td>
							<td>合同号</td>
						</tr>
						<tr>
							<td>合同号</td>
							<td>合同号</td>
							<td>合同号</td>
							<td>合同号</td>
							<td>合同号</td>
						</tr>
						<tr>
							<td>合同号</td>
							<td>合同号</td>
							<td>合同号</td>
							<td>合同号</td>
							<td>合同号</td>
						</tr>
						<tr>
							<td>合同号</td>
							<td>合同号</td>
							<td>合同号</td>
							<td>合同号</td>
							<td>合同号</td>
						</tr>
						<tr>
							<td>合同号</td>
							<td>合同号</td>
							<td>合同号</td>
							<td>合同号</td>
							<td>合同号</td>
						</tr>
						<tr>
							<td>合同号</td>
							<td>合同号</td>
							<td>合同号</td>
							<td>合同号</td>
							<td>合同号</td>
						</tr>
						<tr>
							<td>合同号</td>
							<td>合同号</td>
							<td>合同号</td>
							<td>合同号</td>
							<td>合同号</td>
						</tr>
						<tr>
							<td>合同号</td>
							<td>合同号</td>
							<td>合同号</td>
							<td>合同号</td>
							<td>合同号</td>
						</tr>
						<tr>
							<td>合同号</td>
							<td>合同号</td>
							<td>合同号</td>
							<td>合同号</td>
							<td>合同号</td>
						</tr>
						<tr>
							<td>合同号</td>
							<td>合同号</td>
							<td>合同号</td>
							<td>合同号</td>
							<td>合同号</td>
						</tr>
						<tr>
							<td>合同号</td>
							<td>合同号</td>
							<td>合同号</td>
							<td>合同号</td>
							<td>合同号</td>
						</tr>
						<tr>
							<td>合同号</td>
							<td>合同号</td>
							<td>合同号</td>
							<td>合同号</td>
							<td>合同号</td>
						</tr>
						<tr>
							<td>合同号</td>
							<td>合同号</td>
							<td>合同号</td>
							<td>合同号</td>
							<td>合同号</td>
						</tr>
						<tr>
							<td>合同号</td>
							<td>合同号</td>
							<td>合同号</td>
							<td>合同号</td>
							<td>合同号</td>
						</tr>
					</tbody>
				</table>
			</div>
		</div>

		<div class="layui-form layui-border-box layui-table-view" lay-filter="LAY-table-1" style=" height:573px;">
			<div class="layui-table-box">
				<div class="layui-table-header">
					<table id="listHead" cellspacing="0" cellpadding="0" border="0" class="layui-table" lay-even="">
						<thead>
							<tr>
								<th rowspan="33" colspan="2">指标</th>
								<th rowspan="2">数据来源</th>
								<th rowspan="2">更新周期</th>
								<!-- <th rowspan="2">时间</th> -->
							</tr>
							<tr>

							</tr>
						</thead>
					</table>
				</div>
				<div class="layui-table-body layui-table-main" style="height: 520px;">
					<table id='listTable' cellspacing="0" cellpadding="0" border="0" class="layui-table" lay-even="">
						<tbody>
							<tr>
								<td colspan="2">移动业务百万用户重复投诉比</td>
								<td>
									<div class="col-width-80">大数据平台</div>
								</td>
								<td>
									<div class="col-width-60">周</div>
								</td>
							</tr>
							<tr class="even">
								<td colspan="2">聚类投诉闭环率</td>
								<td>大数据平台</td>
								<td>周</td>
							</tr>
							<tr>
								<td colspan="2">感知差栅格解决率</td>
								<td>大数据平台</td>
								<td>周</td>
							</tr>
							<tr class="even">
								<td colspan="2">移动业务投诉处理满意度</td>
								<td>大数据平台</td>
								<td>周</td>
							</tr>
							<tr>
								<td colspan="2">VoLTE RTP上行丢包率</td>
								<td>大数据平台</td>
								<td>周</td>
							</tr>
							<tr class="even">
								<td colspan="2">VoLTE话务量占比</td>
								<td>大数据平台</td>
								<td>周</td>
							</tr>
							<tr>
								<td rowspan="5">
									<div class="col-width-60">超长超频问题小区占比</div>
								</td>
								<td>
									<div class="col-width-60">超长超频-高负荷占比</div>
								</td>
								<td>大数据平台</td>
								<td>周</td>
							</tr>
							<tr class="even">
								<td>超长超频-高干扰占比</td>
								<td>大数据平台</td>
								<td>周</td>
							</tr>
							<tr>
								<td>超长超频-高负荷占比</td>
								<td>大数据平台</td>
								<td>周</td>
							</tr>
							<tr class="even">
								<td>超长超频-弱覆盖占比</td>
								<td>大数据平台</td>
								<td>周</td>
							</tr>
							<tr>
								<td>超长超频问题小区占比</td>
								<td>大数据平台</td>
								<td>周</td>
							</tr>

							<tr class="even">
								<td colspan="2">525重点口碑场景解决率</td>
								<td>大数据平台</td>
								<td>周</td>
							</tr>
							<tr>
								<td colspan="2">1800高价值居民区解决率</td>
								<td>大数据平台</td>
								<td>周</td>
							</tr>
							<tr class="even">
								<td colspan="2">5700劣于竞对TOP小区解决率</td>
								<td>大数据平台</td>
								<td>周</td>
							</tr>

							<tr>
								<td rowspan="2">LTE低速率采样点占比（城区/高铁）</td>
								<td>低速率采样点占比（城区）</td>
								<td>大数据平台</td>
								<td>周</td>
							</tr>
							<tr class="even">
								<td>低速率采样点占比（高铁）</td>
								<td>大数据平台</td>
								<td>周</td>
							</tr>

							<tr>
								<td colspan="2">室分问题排查解决率</td>
								<td>大数据平台</td>
								<td>周</td>
							</tr>
							<tr class="even">
								<td colspan="2">高负荷小区比例</td>
								<td>大数据平台</td>
								<td>周</td>
							</tr>
							<tr>
								<td colspan="2">650流量热岛解决率</td>
								<td>大数据平台</td>
								<td>周</td>
							</tr>
							<tr class="even">
								<td colspan="2">高干扰小区比例</td>
								<td>大数据平台</td>
								<td>周</td>
							</tr>
							<tr>
								<td colspan="2">CQI优良率</td>
								<td>大数据平台</td>
								<td>周</td>
							</tr>
							<tr class="even">
								<td colspan="2">VoLTE两低两高质差占比</td>
								<td>大数据平台</td>
								<td>周</td>
							</tr>
							<tr>
								<td colspan="2">GSM话音质量占比</td>
								<td>大数据平台</td>
								<td>周</td>
							</tr>
							<tr class="even">
								<td colspan="2">4G无线综合覆盖率</td>
								<td>大数据平台</td>
								<td>周</td>
							</tr>
							<tr>
								<td colspan="2">小区RRU退服率</td>
								<td>大数据平台</td>
								<td>周</td>
							</tr>
							<!-- <tr class="even">
								<td colspan="2">优化工单闭环率</td>
								<td>大数据平台</td>
								<td>周</td>
							</tr>
							<tr>
								<td colspan="2">家宽退服率</td>
								<td>大数据平台</td>
								<td>周</td>
							</tr>
							<tr class="even">
								<td colspan="2">专线退服率</td>
								<td>大数据平台</td>
								<td>周</td>
							</tr>
							<tr>
								<td colspan="2">全业务工单闭环率</td>
								<td>大数据平台</td>
								<td>周</td>
							</tr>
							<tr class="even">
								<td colspan="2">性能工单闭环率</td>
								<td>大数据平台</td>
								<td>周</td>
							</tr>
							<tr>
								<td colspan="2">资源数据合规率</td>
								<td>大数据平台</td>
								<td>周</td>
							</tr> -->

						</tbody>

					</table>
				</div>
			</div>
		</div>
	</body>

</html>