<!DOCTYPE html>
<html>

	<head>
		<meta charset="utf-8">
		<title></title>
		<script type="text/javascript">
			function $$(id) {
				return document.getElementById(id);
			}
			window.onload = function() {
				var ctx = $$("cvs").getContext("2d");
				var image = new Image();
				image.src = "../img/orgin.png";
				ctx.globalAlpha = 1; // 全局透明度
				image.onload = function() {

					ctx.drawImage(image, 0, 0);
					var imgData = ctx.getImageData(0, 0, image.width, image.height);
					var data = imgData.data;

					//					for(var i = 0; i < data.length; i += 4) {
					//						data[i + 0] = 255 - data[i + 0];
					//						data[i + 1] = 255 - data[i + 1];
					//						data[i + 2] = 255 - data[i + 2];
					//					}

					for(var i = 0; i < data.length; i += 4) {
						//var average = (data[i + 0] * 0.1 + data[i + 1] * 0.8 + data[i + 2] * 0.4) / 3;
						var r = data[i + 0];
						var g = data[i + 1];
						var b = data[i + 2];
						var a = data[i + 3];
						data[i + 0] =0// 0 * r + 0 * g + 0 * b + 0 * a + 0
						data[i + 1] =0// 0 * r + 0 * g + 0 * b + 0 * a + 0.77
						data[i + 2] =0// 0 * r + 0 * g + 0 * b + 0 * a + 0.04
						data[i + 3] = 0.2126 * r + 0.7152 * g + 0.0722 * b + -0.025 * a - 0.05
					}

					//					for(var i = 0; i < data.length; i += 4) {
					//						var r = data[i + 0];
					//						var g = data[i + 1];
					//						var b = data[i + 2];
					//						if(r < 96 && g < 96&& b < 96) {
					//							data[i + 0] = 255-r;
					//							data[i + 1] = 255-g;
					//							data[i + 2] = 255-b;
					//						}
					//					}

					ctx.putImageData(imgData, 0, 0);

				}
			}
		</script>
	</head>

	<body>
		<canvas id="cvs" width="1903px" height="963px"></canvas>
		<img src="../img/orgin.png"></img>
	</body>

</html>