<!DOCTYPE html>
<html>

	<head>
		<meta charset="UTF-8">
		<title></title>
		<link rel="stylesheet" href="../layui/css/layui.css" />
		<script src="../layui/layui.js"></script>
		<style>
			.table {
				position: absolute;
				top: 0;
				left: 0;
				width: 600px;
				height: 320px;
			}
		</style>
	</head>

	<body>
		<div class="table">
			<table id="table"></table>
		</div>
	</body>
	<script>
		var data = [{
			"custom_name": "78006部队",
			"longitude": 104.0567,
			"latitude": 30.6219921,
			"minx": 11583221.0,
			"maxx": 11583669.0,
			"miny": 3583379.75,
			"maxy": 3584176.5
		}, {
			"custom_name": "财政部驻四川省监察专员办事处",
			"longitude": 104.083633,
			"latitude": 30.6737118,
			"minx": 11586331.0,
			"maxx": 11586779.0,
			"miny": 3590029.75,
			"maxy": 3590826.5
		}, {
			"custom_name": "成都大学附属医院（三甲）",
			"longitude": 104.064941,
			"latitude": 30.6960812,
			"minx": 11584308.0,
			"maxx": 11584756.0,
			"miny": 3592918.25,
			"maxy": 3593715.0
		}, {
			"custom_name": "成都飞机工业（集团）有限责任公司",
			"longitude": 103.962837,
			"latitude": 30.7023258,
			"minx": 11572665.0,
			"maxx": 11573561.0,
			"miny": 3593013.25,
			"maxy": 3594606.5
		}, {
			"custom_name": "成都国美电器有限公司",
			"longitude": 104.0503,
			"latitude": 30.6879787,
			"minx": 11581356.0,
			"maxx": 11583148.0,
			"miny": 3590407.25,
			"maxy": 3593593.75
		}, {
			"custom_name": "成都建国汽车贸易有限公司",
			"longitude": 104.046036,
			"latitude": 30.6063042,
			"minx": 11582023.0,
			"maxx": 11583814.0,
			"miny": 3580200.5,
			"maxy": 3583387.0
		}, {
			"custom_name": "成都九州方圆科技有限公司（民宗委）",
			"longitude": 103.990685,
			"latitude": 30.7134457,
			"minx": 11576165.0,
			"maxx": 11576389.0,
			"miny": 3595487.0,
			"maxy": 3595885.25
		}, {
			"custom_name": "成都理工大学",
			"longitude": 104.141457,
			"latitude": 30.67538,
			"minx": 11592544.0,
			"maxx": 11593439.0,
			"miny": 3589836.25,
			"maxy": 3591429.5
		}, {
			"custom_name": "成都农村商业银行股份有限公司",
			"longitude": 104.074287,
			"latitude": 30.6171417,
			"minx": 11585192.0,
			"maxx": 1.158564E+07,
			"miny": 3582795.75,
			"maxy": 3583592.5
		}, {
			"custom_name": "成都市第二人民医院（三甲）",
			"longitude": 104.084648,
			"latitude": 30.6629543,
			"minx": 1.158586E+07,
			"maxx": 11586756.0,
			"miny": 3587972.0,
			"maxy": 3589565.25
		}, {
			"custom_name": "成都市第三人民医院（三甲）",
			"longitude": 104.060326,
			"latitude": 30.671133,
			"minx": 11583468.0,
			"maxx": 11584364.0,
			"miny": 3589367.0,
			"maxy": 3590960.25
		}, {
			"custom_name": "成都体育学院",
			"longitude": 104.041565,
			"latitude": 30.6501274,
			"minx": 11581562.0,
			"maxx": 1.158201E+07,
			"miny": 3587026.75,
			"maxy": 3587823.25
		}, {
			"custom_name": "成都铁路局",
			"longitude": 104.068756,
			"latitude": 30.6892757,
			"minx": 11584306.0,
			"maxx": 11585202.0,
			"miny": 3591875.0,
			"maxy": 3593468.25
		}, {
			"custom_name": "成都铁路局成都客运段公司",
			"longitude": 104.06575,
			"latitude": 30.6993446,
			"minx": 11584334.0,
			"maxx": 11584782.0,
			"miny": 3593458.25,
			"maxy": 3594254.75
		}, {
			"custom_name": "成都卫士通信息产业股份有限公司",
			"longitude": 104.0568,
			"latitude": 30.5529079,
			"minx": 11583134.0,
			"maxx": 11584029.0,
			"miny": 3574105.75,
			"maxy": 3575699.0
		}, {
			"custom_name": "成都伊藤洋华堂有限公司",
			"longitude": 104.017532,
			"latitude": 30.6487026,
			"minx": 11578674.0,
			"maxx": 1.157957E+07,
			"miny": 3586386.0,
			"maxy": 3587979.25
		}, {
			"custom_name": "成都中医药大学",
			"longitude": 103.805351,
			"latitude": 30.6877613,
			"minx": 1.155515E+07,
			"maxx": 11556046.0,
			"miny": 3591442.75,
			"maxy": 3593036.0
		}, {
			"custom_name": "大唐四川发电有限公司",
			"longitude": 103.996162,
			"latitude": 30.6763611,
			"minx": 11576226.0,
			"maxx": 11577121.0,
			"miny": 3589983.25,
			"maxy": 3591576.5
		}, {
			"custom_name": "电子科技大学",
			"longitude": 104.098007,
			"latitude": 30.6781387,
			"minx": 11587986.0,
			"maxx": 11588434.0,
			"miny": 3590729.25,
			"maxy": 3591525.75
		}, {
			"custom_name": "东方电气集团国际合作有限公司",
			"longitude": 103.960609,
			"latitude": 30.7444916,
			"minx": 11572576.0,
			"maxx": 11573024.0,
			"miny": 3599342.75,
			"maxy": 3600139.25
		}, {
			"custom_name": "国宝人寿保险股份有限公司",
			"longitude": 104.065292,
			"latitude": 30.6340847,
			"minx": 11584326.0,
			"maxx": 11584774.0,
			"miny": 3584915.25,
			"maxy": 3585711.75
		}, {
			"custom_name": "国电大渡河流域水电开发有限公司",
			"longitude": 104.063995,
			"latitude": 30.5976467,
			"minx": 11583827.0,
			"maxx": 11584723.0,
			"miny": 3579897.25,
			"maxy": 3581490.5
		}, {
			"custom_name": "国家计算机网络与信息安全管理中心四川分中心",
			"longitude": 104.0014,
			"latitude": 30.68438,
			"minx": 11577265.0,
			"maxx": 11577489.0,
			"miny": 3591571.25,
			"maxy": 3591969.5
		}, {
			"custom_name": "国家开发银行四川省分行",
			"longitude": 104.066559,
			"latitude": 30.5941963,
			"minx": 11584126.0,
			"maxx": 11585022.0,
			"miny": 3579455.25,
			"maxy": 3581048.5
		}, {
			"custom_name": "国家税务总局四川省税务局",
			"longitude": 104.073341,
			"latitude": 30.6493721,
			"minx": 11584392.0,
			"maxx": 11586184.0,
			"miny": 3585424.5,
			"maxy": 3588611.0
		}, {
			"custom_name": "国家统计局四川调查总队",
			"longitude": 104.031235,
			"latitude": 30.670496,
			"minx": 11580408.0,
			"maxx": 11580856.0,
			"miny": 3589573.0,
			"maxy": 3590369.75
		}, {
			"custom_name": "国家知识产权局专利局专利审查协作四川中心",
			"longitude": 104.030457,
			"latitude": 30.5026112,
			"minx": 11579345.0,
			"maxx": 11581137.0,
			"miny": 3566623.5,
			"maxy": 3569809.75
		}, {
			"custom_name": "国金证券股份有限公司",
			"longitude": 104.057526,
			"latitude": 30.6648369,
			"minx": 11583284.0,
			"maxx": 1.158418E+07,
			"miny": 3588544.0,
			"maxy": 3590137.25
		}, {
			"custom_name": "国网四川省电力公司",
			"longitude": 104.0587,
			"latitude": 30.5905533,
			"minx": 1.158246E+07,
			"maxx": 11584251.0,
			"miny": 3578203.5,
			"maxy": 3581390.0
		}, {
			"custom_name": "国网四川省电力公司信息通信公司",
			"longitude": 104.058578,
			"latitude": 30.59046,
			"minx": 11582579.0,
			"maxx": 11584371.0,
			"miny": 3578153.5,
			"maxy": 3581340.0
		}, {
			"custom_name": "国网四川省电力公司映秀湾水力发电总厂",
			"longitude": 103.64695,
			"latitude": 30.9895554,
			"minx": 11537616.0,
			"maxx": 11538064.0,
			"miny": 3631002.5,
			"maxy": 3631799.0
		}, {
			"custom_name": "核工业四一六医院",
			"longitude": 104.173706,
			"latitude": 30.69116,
			"minx": 11596188.0,
			"maxx": 11597083.0,
			"miny": 3591852.5,
			"maxy": 3593445.75
		}, {
			"custom_name": "华电金沙江上游水电开发有限公司",
			"longitude": 104.063911,
			"latitude": 30.6566181,
			"minx": 11584005.0,
			"maxx": 11584901.0,
			"miny": 3587383.25,
			"maxy": 3588976.5
		}, {
			"custom_name": "华电四川发电有限公司",
			"longitude": 104.093605,
			"latitude": 30.6520157,
			"minx": 11587219.0,
			"maxx": 11588115.0,
			"miny": 3586751.5,
			"maxy": 3588344.75
		}, {
			"custom_name": "华能四川水电有限公司",
			"longitude": 104.065216,
			"latitude": 30.617609,
			"minx": 11584314.0,
			"maxx": 11584762.0,
			"miny": 3582813.75,
			"maxy": 3583610.25
		}, {
			"custom_name": "华泰人寿保险股份有限公司四川分公司",
			"longitude": 104.088821,
			"latitude": 30.64383,
			"minx": 11586485.0,
			"maxx": 11588276.0,
			"miny": 3584564.5,
			"maxy": 3587751.0
		}, {
			"custom_name": "华西证券股份有限公司",
			"longitude": 104.060524,
			"latitude": 30.5540466,
			"minx": 11583628.0,
			"maxx": 11584524.0,
			"miny": 3574101.0,
			"maxy": 3575694.25
		}, {
			"custom_name": "交通银行股份有限公司成都武侯支行",
			"longitude": 104.025986,
			"latitude": 30.6370335,
			"minx": 11579905.0,
			"maxx": 11580353.0,
			"miny": 3585346.25,
			"maxy": 3586143.0
		}, {
			"custom_name": "交通银行股份有限公司四川省分行",
			"longitude": 104.065849,
			"latitude": 30.66687,
			"minx": 11584026.0,
			"maxx": 11584921.0,
			"miny": 3588940.5,
			"maxy": 3590533.75
		}, {
			"custom_name": "交通银行股份有限公司四川省分行营业部",
			"longitude": 104.063538,
			"latitude": 30.6692657,
			"minx": 11583863.0,
			"maxx": 11584759.0,
			"miny": 3589058.75,
			"maxy": 3590652.0
		}, {
			"custom_name": "锦泰财产保险股份有限公司",
			"longitude": 104.059128,
			"latitude": 30.5565548,
			"minx": 11582825.0,
			"maxx": 11584617.0,
			"miny": 3573445.5,
			"maxy": 3576631.75
		}, {
			"custom_name": "九龙仓（中国）物业管理有限公司国际金融中心分公司",
			"longitude": 104.079651,
			"latitude": 30.6584339,
			"minx": 11585579.0,
			"maxx": 11586475.0,
			"miny": 3587888.5,
			"maxy": 3589481.75
		}, {
			"custom_name": "泸天化（集团）有限责任公司（总部在川企业）",
			"longitude": 105.3828,
			"latitude": 28.7798042,
			"minx": 11730484.0,
			"maxx": 11730932.0,
			"miny": 3347251.5,
			"maxy": 3348048.25
		}, {
			"custom_name": "泸州老窖股份有限公司",
			"longitude": 105.427284,
			"latitude": 28.89205,
			"minx": 11735898.0,
			"maxx": 11736793.0,
			"miny": 3361471.25,
			"maxy": 3363064.5
		}]

		layui.use('table', function() {
			var table = layui.table;
			table.render({
				elem: '#table',
				data: data,
				page: false,
				limit:100,
				height:320,
				cols: [
					[{
						field: 'custom_name',
						title: '名称',
						colspan: 1,
						rowspan:2,
						width:180,
					}, {
						align: 'center',
						title: '经纬度',
						colspan: 2
					}, {
						align: 'center',
						title: '范围',
						colspan: 4
					}],
					[ {
						field: 'longitude',
						title: '经度',
						width:120
					}, {
						field: 'latitude',
						title: '纬度',
						width:120
					}, {
						field: 'minx',
						title: '最小经度',
						width:120
					}, {
						field: 'miny',
						title: '最小纬度',
						width:120
					}, {
						field: 'maxx',
						title: '最大经度',
						width:120
					}, {
						field: 'maxy',
						title: '最大纬度',
						width:120
					}]
				],
				even: true,
				done: function(res) {}
			});
		});
	</script>

</html>