<!DOCTYPE html>
<html lang="zh">

	<head>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<meta http-equiv="X-UA-Compatible" content="ie=edge">
		<title>radar</title>
		<style>
			canvas {
				margin: 20px auto;
				display: block;
			}
		</style>
	</head>

	<body>
		<canvas id="can" width=1200 height=50></canvas>

		<script type="text/javascript">
			var can = document.getElementById('can');
			var ctx = can.getContext('2d');
			var grd = ctx.createLinearGradient(0, 0, 1200, 0);
			grd.addColorStop(0, "rgba(255,255,0,0.2)");
			grd.addColorStop(1, "rgba(0,255,0,0.8)");
			ctx.fillStyle = grd;
			ctx.fillRect(0, 0, 1200, 50);
		</script>
	</body>

</html>