<!DOCTYPE html>
<html>

	<head>
		<meta charset="UTF-8">
		<title></title>
		<script src="../js/ol.js"></script>
		<script src="../js/jquery.min.js"></script>
		<style>
			html,
			body,
			.map {
				width: 100%;
				height: 100%;
				margin: 0;
				padding: 0;
				background-color: #172250;
			}
		</style>
	</head>

	<body>
		<div class="map" id="map">
		</div>
		<script>
			let map = new ol.Map({
				target: 'map',
				interactions: ol.interaction.defaults({
					altShiftDragRotate: false,
					pinchRotate: false
				}),
				view: new ol.View({
					center: ol.proj.transform([104, 30], 'EPSG:4326', 'EPSG:3857'),
					zoom: 8,
					maxZoom: 18,
					minZoom: 2
				})
			});

			let roadLayer = new ol.layer.Tile({
				title: "3857底图",
				source: new ol.source.XYZ({
					tileUrlFunction: function(tileCoord) {
						let oo = "00000000";
						let zz = tileCoord[0];
						if(zz < 10) {
							zz = '0' + zz;
						}
						let z = "L" + zz;

						let xx = tileCoord[1].toString(16);
						let x = "C" + oo.substring(0, 8 - xx.length) + xx;
						let yy = (-tileCoord[2] - 1).toString(16); //注意此处，计算方式变了
						let y = "R" + oo.substring(0, 8 - yy.length) + yy;
						return 'http://223.86.3.47:28080/api/Handler/Utils.ashx?method=convertImg&x=' + z + '&y=' + y + '&z=' + x
					},
					tileLoadFunction: function(imageTile, src) {
						let img = new Image();
						img.setAttribute('crossOrigin', 'anonymous');
						let canvas = document.createElement("canvas");
						canvas.width = 256;
						canvas.height = 256;
						let ctx = canvas.getContext("2d");
						img.onload = function() {
							ctx.drawImage(img, 0, 0, img.width, img.height);
							var imgData = ctx.getImageData(0, 0, img.width, img.height);
							var data = imgData.data;
							for(var i = 0; i < data.length; i += 4) {
								var r = data[i + 0];
								var g = data[i + 1];
								var b = data[i + 2];
								var a = data[i + 3];
								//黑色风格
//																data[i + 0] =  0 * r + 0 * g + 0 * b + 0 * a + 0
//																data[i + 1] =  0 * r + 0 * g + 0 * b + 0 * a + 0.012 *255
//																data[i + 2] =  0 * r + 0 * g + 0 * b + 0 * a + 0.04*255
//																data[i + 3] = 0.2126 * r + 0.7152 * g + 0.0722 * b + -0.025 * a - 0.05*255
								//灰色风格
//																data[i + 0] = 0 * r + 1 * g + 0 * b + 0 * a + 0
//																data[i + 1] = 0 * r + 1 * g + 0 * b + 0 * a + 0
//																data[i + 2] = 0 * r + 1 * g + 0 * b + 0 * a + 0
//																data[i + 3] = 0 * r + 1 * g + 0 * b + 1 * a + 0
								//蓝色风格
								data[i + 0] = 1.6 * r + -0.6 * g + -0.3 * b + -0.6 * a + 0.4
								data[i + 1] = 0.3 * r + 0.3 * g + 0.1 * b + 0 * a + -0.1
								data[i + 2] = 1.4 * r + 0.5 * g + 0.9 * b + 0 * a + -0.3
								data[i + 3] = -1.5 * r + 0.4 * g + -0.8 * b + 1.2 * a + 0.7
							}
							ctx.putImageData(imgData, 0, 0);
							let dataURL = canvas.toDataURL("image/png");
							imageTile.getImage().src = dataURL;
						};
						img.src = src;
					},
					projection: 'EPSG:3857'
				})
			});
			map.addLayer(roadLayer);
		</script>
	</body>

</html>