<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<title></title>
		<style>
			html,body,.app{
				width: 100%;
				height: 100%;
				margin: 0;
				padding: 0;
			}
			iframe{
				position: absolute;
				top: 0;
				width: 100%;
				height: 100%;
				
			}
			.shader{
				position: absolute;
				top: 0;
				width: 100%;
				height: 64px;
				z-index: 999;
				background: blue;
			}
		</style>
	</head>
	<body>
		<div class="app">
			<div class="shader"></div>
			<iframe src="https://blog.csdn.net/Albert_Ejiestein/article/details/89047499"></iframe>
		</div>
	</body>
</html>
